<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="me.aungkooo.thunder" >

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application>
        <service
            android:name=".NetworkService"
            android:exported="false"/>
    </application>

</manifest>
